@import "./colors.css";

header {
  display: flex;
  text-align: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray200);
  width: 100%;
}

header a {
  text-decoration: none;
}

.logo {
  width: 240px;
  height: 72px;
  margin-left: 120px;
  margin-right: 160px;
  object-fit: contain;
}

.header-menu {
  width: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu div {
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-menu div a {
  height: 18px;
  text-decoration: none;
  color: var(--black);
}
